In [1]:
import numpy as np
import geopandas as gpd

In [2]:
root = "/Users/dimeji/Documents/Research/2024/deforestation/final_project_version/data/tabular_data/"

In [3]:
data = gpd.read_file(root+"forested_area_biome_year_MFCFC.geojson")
data = data.drop(columns="id")
data["sum"] = data["sum"] / 1000000

In [4]:
data.head()

,nature,sum,year,geometry
0,Ecoregion Sud,18586.376495,2000,GEOMETRYCOLLECTION (LINESTRING (43.30837 -21.9...
1,mangrove,1775.704396,2000,GEOMETRYCOLLECTION (LINESTRING (44.46624 -19.8...
2,Ecoregion Est,48555.822029,2000,GEOMETRYCOLLECTION (LINESTRING (49.88774 -13.0...
3,Ecoregion Ouest,29414.218322,2000,GEOMETRYCOLLECTION (POINT (44.44433 -19.86772)...
4,Ecoregion Sud,18570.195735,2001,GEOMETRYCOLLECTION (LINESTRING (43.30837 -21.9...

In [5]:
data.replace('Ecoregion Sud', 'spiny', inplace=True)
data.replace('Ecoregion Est', 'moist', inplace=True)
data.replace('Ecoregion Ouest', 'dry', inplace=True)

In [6]:
data2000 = data[data["year"] == 2000]

In [7]:
data2000

,nature,sum,year,geometry
0,spiny,18586.376495,2000,GEOMETRYCOLLECTION (LINESTRING (43.30837 -21.9...
1,mangrove,1775.704396,2000,GEOMETRYCOLLECTION (LINESTRING (44.46624 -19.8...
2,moist,48555.822029,2000,GEOMETRYCOLLECTION (LINESTRING (49.88774 -13.0...
3,dry,29414.218322,2000,GEOMETRYCOLLECTION (POINT (44.44433 -19.86772)...

In [8]:
print("The total forested area in 2000 is: ", data2000["sum"].sum())

The total forested area in 2000 is:  98332.12124201235

In [9]:
data2023 = data[data["year"] == 2023]

In [10]:
data2023

,nature,sum,year,geometry
92,spiny,16496.814621,2023,GEOMETRYCOLLECTION (LINESTRING (43.30837 -21.9...
93,mangrove,1735.330430,2023,GEOMETRYCOLLECTION (LINESTRING (44.46624 -19.8...
94,moist,37418.699004,2023,GEOMETRYCOLLECTION (LINESTRING (49.88774 -13.0...
95,dry,21461.179849,2023,GEOMETRYCOLLECTION (POINT (44.44433 -19.86772)...

In [11]:
print("The total forested area in 2023 is: ", data2023["sum"].sum())

The total forested area in 2023 is:  77112.02390377462

In [13]:
def annual_deforestation_rate(F_t2, F_t1, t2=2023, t1=2000):
    time_interval = t2 - t1
    rate = 100 * (1 - (1 - (F_t2 - F_t1) / F_t1) ** (1 / time_interval))
    return rate

In [16]:
print("Total def rate madagascar: ", abs(annual_deforestation_rate(data2023["sum"].sum(),  data2000["sum"].sum())))

Total def rate madagascar:  0.8531952713902502

In [18]:
print("Moist def rate madagascar: ", abs(annual_deforestation_rate(37418.70,  48555.82)))

Moist def rate madagascar:  0.9018672811730299

In [19]:
print("Dry def rate madagascar: ", abs(annual_deforestation_rate(21461.18,  29414.22)))

Dry def rate madagascar:  1.0459394456225235

In [20]:
print("Spiny def rate madagascar: ", abs(annual_deforestation_rate(16496.81,  18586.38)))

Spiny def rate madagascar:  0.4643012256864365

In [21]:
print("Mangroves def rate madagascar: ", abs(annual_deforestation_rate(1735.33,  1775.70)))

Mangroves def rate madagascar:  0.09778740817021347

In [27]:
(0.10 / 100) * 1775.70

1.7757